@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium';
}

body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

body {
  background-image: url('bg.png');
  display:flex;
  justify-content: center;
  align-items: center;
}

.join__box {
  background-color:white;
  width: 30%;
  min-width:450px;
  min-height: 500px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 10px;
  border: 3px solid #964b00;
}

.join__title {
  font-size:32px;
}

.join__id,
.join__name,
.join__pw,
.join__pwCheck {
  width: 80%;
  height:10%;
  margin-top:4%;
  outline: none;
  border:1px dotted grey;
  border-radius: 5px;
}

.join__btn {
  opacity: 0.8;
  color: white;
  width: 80%;
  height: 10%;
  margin-top: 8%;
  padding: 0;
  border: none;
  outline: none;
  background-color: #964b00;
  border-radius: 5px;
}